.Overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.Lhs {
  grid-column: 1;
  position: relative;
}

.Rhs {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drawRectangle {
  position: absolute;
  left: 12px;
  top: 83px;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: white;
  z-index: 1000;
  cursor: default;
}

.drawRectangle:hover {
  border: 1px solid lime;
}

.drawing {
  background: lime;
}
