.Categories {
  width: 100vw;
}

.Doughnut {
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.CategoryRanks {
  width: 320px;
}

.CategoryRank {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
